.card {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 7.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 0.1875rem solid #3ed81f;
  text-decoration: none;
}

.page {
  padding: 1rem;
  background: black;
}

.form__input-text {
  width: 30vw;
  margin: 0.25rem;
  padding: 0.3rem;
  background-color: #ddd;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  outline: none;
  vertical-align: middle;
}
